---
import Card from '@/components/Card.astro'
import Layout from '@/layouts/Layout.astro'
import {getAlbums} from "@/ui/api/getAlbums"

//const response = await fetch('https://music-api.charca.workers.dev/albums')
const albumsSupabase = await getAlbums()
---

<Layout title="Sound World - All you need is Music">
  <section class="py-8">
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
    >
      <h1 class="font-bold text-3xl text-black tracking-tight mb-12">
        Recently Played <span class="sr-only">Albums</span>
      </h1>

      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {
          albumsSupabase.map((album) => (
              <Card
                  id={album.user_id}
                  title={album.title}
                  artist={album.artist_name}
                  image_url={album.cover_url}
              />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
