---
import { ViewTransitions } from 'astro:transitions'
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/transitions.css'
import Player from "../components/Player.tsx";

interface Props {
  title: string;
}

const description = "Astro and Supabase demo app";
const { title } = Astro.props;
const ogImageURL = new URL("hero.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;
---

<html lang="en" class="h-full w-full">
<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <meta property="twitter:image" content={ogImageURL} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="og:image" content={ogImageURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={canonicalURL} />
  <ViewTransitions />
</head>
<body class="flex flex-col h-full w-full dark:bg-zinc-900 bg-zinc-50 dark:text-zinc-100">
  <div class="wrapper flex flex-col h-screen">
    <Header />
    <slot />
    <Footer />
  </div>
  <div id="audio-player" class="fixed w-full bottom-0">
    <audio-player class="audio-player" transition-name="player">
      <Player transition:persist="player" client:load />
    </audio-player>
  </div>
</body>
</html>

<style is:global>
  body {
    background-image: linear-gradient(339deg, #dbc37a 0, #a77d44 100%)
  }
  audio::-webkit-media-controls-panel {
    background-color: #dbc37b;
    border-radius: 8px;
  }
  audio::-webkit-media-controls-play-button {
    background-color: #917848; /* Color del botón de play */
    border-radius: 50%;
  }

  audio::-webkit-media-controls-volume-slider {
    background-color: #3a3a3a; /* Fondo del slider de volumen */
  }

  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-duration-display {
    color: #fff; /* Texto blanco */
  }
  #audio-player {
    z-index: 90;
  }
  @keyframes bump {
    0% {
      opacity: 0;
      transform: scale(1) translateX(200px);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }
</style>
